@import "tailwindcss";

:root {
  background: #1e1e2e;
}

@theme  {

  /* Colors are from https://catppuccin.com/palette/ */

  --color-mauve: #cba6f7;
  --color-subtext: #bac2de;
  --color-main: #cdd6f4;
}
